option:first
{
	color:#0F0; !important
}

div.A {
	width: 80%;
	padding: 0 0;
	margin: 0;
}

div.B {
	width: 15%;
	padding: 0 0;
	margin: 0;
}

#contenidoSubtemas{  /*padre*/
	overflow: hidden;
	width: 100%; 
}
#contenidoSubtemas .A, #contenidoSubtemas .B{  /*hijos*/
	float: left;
}

tr.resaltar {
    background-color:#CCC;
    cursor: pointer;
}

input.margen_izq{
	margin-right:15px;
}


.colorCuerpoSuccThin {
	color:#FFF;
	font-size:16px;
	background: rgba(130, 194, 128, 0.9); 
	width: inherit;
	min-height: 30px;
	vertical-align:middle;
	padding: 8px 8px 8px 8px;
	margin: 0px 5px 5px 5px;
	border-style: solid;
	border-width: thin;
}


.page_home h1,
.page_home h1 a {
    color: #164137;
    margin: 0;
    text-align: left;
    cursor: default;
}
.page_home h1:hover,
.page_home h1 a:hover { text-decoration: none }
.page_home h2 {
    color: #0088cc;
    display: block;
    font-size: 26px;
    font-family: 'Source Sans Pro',sans-serif;
    margin: 0 0 2em 0;
    text-align: center;
}
.page_home .introbar { position: relative }
.page_home .intro { height: 260px }
.page_home .intro strong { color: #0088cc }
.page_home .createquiz { margin-top: -48px }
.page_home .createquiz:after,
.page_home .createquiz:before {
    -moz-box-shadow: inset 0px 10px 20px -20px #1b4238;
    -webkit-box-shadow: inset 0px 10px 20px -20px #1b4238;
    box-shadow: inset 0px 10px 20px -20px #1b4238;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0;
    border-radius: 0 0 5px 5px;
    background-color: #e1efe1;
    bottom: -100px;
    content: ' ';
    display: block;
    position: absolute;
    width: 20px;
}

.page_home .pageheader {
    background: #dcf3ed none;
    clear: both;
}

.page_home .bgwrap .wrapper {
    position: relative;
}
.page_home .bgwrap .owly {
    height: 160px;
    left: 430px;
    position: absolute;
    bottom: 217px;
    width: 120px;
}

.page_home .targets strong,
.page_home .benefits strong { color: #5fd8b8 }
.page_home .targets .col4 h3,
.page_home .benefits .col4 h3 {
    display: block;
    background-repeat: no-repeat;
    background-position: center 45px;
}
.page_home .targets h3,
.page_home .benefits h3 {
    height: 160px;
    text-align: center;
}

.page_home .benefits,
.page_home .targets,
.page_home .examples { padding: 30px 0 }
.page_home .examples { text-align: center }
.page_home .examples h2 { margin-bottom: 0 }
.page_home .examples h2,
.page_home .examples h3 { padding: 0 0 10px 0 }
.page_home .examples .buttonplacer { float: none }
.page_home .breakout { background-color: #f9fff9 }
.page_home .breakout.odd,
.page_home .breakout.row0 { background: #effcee }
.page_home .breakout.pagefooter {
    background-color: #b7dfd5;
    color: #477c6e;
    text-align: center;
}
.page_home .breakout.pagefooter h2 { color: #fff }
.page_home .breakout.pagefooter .contentbox { padding: 30px 0 }
.page_home .customers {
    background-color: #b7dfd5;
    padding: 30px 0;
    text-align: center;
}
.page_home .customers p {
    font-size: 16px;
    margin: 20px 0 0 0;
}
.page_home .customers p strong { color: #000 }
.page_home .pagefooter {
    display: none;
    padding: 30px 0;
    text-align: center;
}

.customerlist {
    display: inline-block;
    padding: 0;
    margin: 2em 0;
}

.customerlist li+li { padding: 0 0 0 30px }
.customerlist li img { vertical-align: middle }
@media only screen and (max-width:979px) { 
    .page_home .introbar .owly { display: none }
}
@media only screen and (max-width:767px) { 
    .page_home .customerlist li {
        clear: both;
        display: block;
        float: none;
        height: auto;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .page_home .customerlist li+li { padding-top: 20px }
    .page_home .col12 .intro {
        height: auto;
        padding: 20px 0 0 0;
    }
    .page_home .col12 .intro *,
    .page_home .col12 .intro span {
        font-size: 30px;
        letter-spacing: 0;
        line-height: 1;
    }
    .page_home .introbar h1,
    .page_home .introbar .pageintro,
    .page_home .introbar .createyourown { display: none }
    .page_home .createquiz { margin-top: 0 }
    .page_home .pageintro { margin: 0 }
    .page_home .button { white-space: normal }
}


.navbar {
    background-color: #3d4e4a;

    position: relative;
    z-index: 99;
}
.navbar .contentbox { padding: 0 }
.navbar .row { clear: both }
.navbar .mainnav .open a,
.navbar .mainnav .hier a,
.navbar .subnav .level1 .open a,
.navbar .subnav .level1 .hier a { color: #5fd8b8 }
.navbar a {
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    color: #ffffff;
}
.navbar a:hover {
    color: #9de7d3;
    text-decoration: none;
}
.mainnav {
    float: right;
    padding: 18px 0 18px 0px;
}
.mainnav nav { float: left }
.mainnav li {
    float: left;
    position: relative;
}
.mainnav li+li { margin: 0 0 0 22px }
.mainnav li ul { position: absolute }
.mainnav a {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    padding: 0;
}
.loginregister p {
    color: rgba(255,255,255,0.6);
    float: right;
    margin: 1.1em 0 0 0;
}
.loginregister * { font-size: 13px }

.subnav li { float: none }
.subnav li+li { border-top: 1px solid #e5eef3 }
.subnav a {
    display: block;
    padding: 0.5em 0;
}
.navigation a {
    font-weight: bold;
    text-decoration: none;
}
.menubar {
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    background-color: #0088cc;

    width: 100%;
}
.menubar .col4.last { float: right }
.menubar .subnav {
    padding: 0;
    margin: 0;
}
.menubar .subnav .level1 ul { display: none }
.menubar .subnav .level1 a {
    background-color: transparent;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    font-size: 13px;
    font-weight: bold;
    height: 50px;
    line-height: 19px;
    padding: 15px 10px;
    text-decoration: none;
}
.menubar .subnav .level1 li {
    float: left;
    padding: 0;
    margin: 0;
    margin: 0;
}
.menubar .subnav .level1 li+li {
    border: none;
    margin: 0;
}
.menubar .subnav .level1 li.hier>a { background-color: transparent }


.accountbar {
    color: #b1c3bf;
    height: 50px;
    position: relative;
    margin: 0;
}

.accountbar a { color: #fff }

.user_notloggedin .mainnavbar.fixednav { z-index: 999999 }
.user_notloggedin .mainnavbar.fixednav .mainnav {
    position: fixed;
    top: -5px;
}




@media only screen and (max-width:767px) { 
    body:not(.page_qsettings) .row,
    body:not(.page_qsettings) .container {
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
    }
    body:not(.page_qsettings) .row,
    body:not(.page_qsettings) body { width: 100% }
    body:not(.page_qsettings) .row .col1,
    body:not(.page_qsettings) .row .row .col1,
    body:not(.page_qsettings) .row .col2,
    body:not(.page_qsettings) .row .row .col2,
    body:not(.page_qsettings) .row .col3,
    body:not(.page_qsettings) .row .row .col3,
    body:not(.page_qsettings) .row .col4,
    body:not(.page_qsettings) .row .row .col4,
    body:not(.page_qsettings) .row .col5,
    body:not(.page_qsettings) .row .row .col5,
    body:not(.page_qsettings) .row .col6,
    body:not(.page_qsettings) .row .row .col6,
    body:not(.page_qsettings) .row .col7,
    body:not(.page_qsettings) .row .row .col7,
    body:not(.page_qsettings) .row .col8,
    body:not(.page_qsettings) .row .row .col8,
    body:not(.page_qsettings) .row .col9,
    body:not(.page_qsettings) .row .row .col9,
    body:not(.page_qsettings) .row .col10,
    body:not(.page_qsettings) .row .row .col10,
    body:not(.page_qsettings) .row .col11,
    body:not(.page_qsettings) .row .row .col11,
    body:not(.page_qsettings) .row .col12,
    body:not(.page_qsettings) .row .row .col12 {
        float: none;
        width: auto;
        margin-left: 0px;
        margin-right: 0px;
    }
    body:not(.page_qsettings) .mainnav.navigation,
    body:not(.page_qsettings) .dashtabs .subnav,
    body:not(.page_qsettings) .mainnavbar .langswitch { display: none }
    body:not(.page_qsettings) .dashtabs { float: left }
}



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section { display: block }
audio,
canvas,
video { display: inline-block }
audio { display: none }
audio[controls] { display: block }

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-size: 62.5%;
    line-height: 1.333em;
    overflow: auto;
}
body,
button,
input,
select,
textarea {
    font-family: Arial,Helvetica,sans-serif;
    color: #222;
}
::-moz-selection {
    background: #333333;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #333333;
    color: #fff;
    text-shadow: none;
}
a:focus { outline: thin dotted }
a:hover,
a:active { outline: 0 }
abbr[title] { border-bottom: 1px dotted }
b,
strong { font-weight: bold }
blockquote { margin: 1em 40px }
dfn { font-style: italic }
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



select { padding-bottom: 8px }
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

button,
input { line-height: normal }
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

button[disabled],
input[disabled] { cursor: default }
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}



textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}
td { vertical-align: top }

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12 {
    float: left;
    margin-left: 2%;
}
.row .col1 { width: 6.5% }
.row .col1 .col1 {
    margin-left: 30.76923%;
    width: 100%;
}
.row .col1 .col0 {
    margin-left: 30.76923%;
    width: -30.76923%;
}
.row .col2 { width: 15% }
.row .col2 .col1 {
    margin-left: 13.33333%;
    width: 43.33333%;
}
.row .col3 { width: 23.5% }
.row .col3 .col1 {
    margin-left: 8.51064%;
    width: 27.65957%;
}
.row .col3 .col2 {
    margin-left: 8.51064%;
    width: 63.82979%;
}
.row .col4 { width: 32% }
.row .col4 .col1 {
    margin-left: 6.25%;
    width: 20.3125%;
}
.row .col4 .col2 {
    margin-left: 6.25%;
    width: 46.875%;
}
.row .col4 .col3 {
    margin-left: 6.25%;
    width: 73.4375%;
}
.row .col5 { width: 40.5% }
.row .col5 .col1 {
    margin-left: 4.93827%;
    width: 16.04938%;
}
.row .col5 .col2 {
    margin-left: 4.93827%;
    width: 37.03704%;
}
.row .col5 .col3 {
    margin-left: 4.93827%;
    width: 58.02469%;
}
.row .col5 .col4 {
    margin-left: 4.93827%;
    width: 79.01235%;
}
.row .col6 { width: 49% }
.row .col6 .col1 {
    margin-left: 4.08163%;
    width: 13.26531%;
}
.row .col6 .col2 {
    margin-left: 4.08163%;
    width: 30.61224%;
}
.row .col6 .col3 {
    margin-left: 4.08163%;
    width: 47.95918%;
}
.row .col6 .col4 {
    margin-left: 4.08163%;
    width: 65.30612%;
}
.row .col6 .col5 {
    margin-left: 4.08163%;
    width: 82.65306%;
}
.row .col7 { width: 57.5% }
.row .col7 .col1 {
    margin-left: 3.47826%;
    width: 11.30435%;
}
.row .col7 .col2 {
    margin-left: 3.47826%;
    width: 26.08696%;
}
.row .col7 .col3 {
    margin-left: 3.47826%;
    width: 40.86957%;
}
.row .col7 .col4 {
    margin-left: 3.47826%;
    width: 55.65217%;
}
.row .col7 .col5 {
    margin-left: 3.47826%;
    width: 70.43478%;
}
.row .col7 .col6 {
    margin-left: 3.47826%;
    width: 85.21739%;
}
.row .col8 { width: 66% }
.row .col8 .col1 {
    margin-left: 3.0303%;
    width: 9.84848%;
}
.row .col8 .col2 {
    margin-left: 3.0303%;
    width: 22.72727%;
}
.row .col8 .col3 {
    margin-left: 3.0303%;
    width: 35.60606%;
}
.row .col8 .col4 {
    margin-left: 3.0303%;
    width: 48.48485%;
}
.row .col8 .col5 {
    margin-left: 3.0303%;
    width: 61.36364%;
}
.row .col8 .col6 {
    margin-left: 3.0303%;
    width: 74.24242%;
}
.row .col8 .col7 {
    margin-left: 3.0303%;
    width: 87.12121%;
}
.row .col9 { width: 74.5% }
.row .col9 .col1 {
    margin-left: 2.68456%;
    width: 8.72483%;
}
.row .col9 .col2 {
    margin-left: 2.68456%;
    width: 20.13423%;
}
.row .col9 .col3 {
    margin-left: 2.68456%;
    width: 31.54362%;
}
.row .col9 .col4 {
    margin-left: 2.68456%;
    width: 42.95302%;
}
.row .col9 .col5 {
    margin-left: 2.68456%;
    width: 54.36242%;
}
.row .col9 .col6 {
    margin-left: 2.68456%;
    width: 65.77181%;
}
.row .col9 .col7 {
    margin-left: 2.68456%;
    width: 77.18121%;
}
.row .col9 .col8 {
    margin-left: 2.68456%;
    width: 88.5906%;
}
.row .col10 { width: 83% }
.row .col10 .col1 {
    margin-left: 2.40964%;
    width: 7.83133%;
}
.row .col10 .col2 {
    margin-left: 2.40964%;
    width: 18.07229%;
}
.row .col10 .col3 {
    margin-left: 2.40964%;
    width: 28.31325%;
}
.row .col10 .col4 {
    margin-left: 2.40964%;
    width: 38.55422%;
}
.row .col10 .col5 {
    margin-left: 2.40964%;
    width: 48.79518%;
}
.row .col10 .col6 {
    margin-left: 2.40964%;
    width: 59.03614%;
}
.row .col10 .col7 {
    margin-left: 2.40964%;
    width: 69.27711%;
}
.row .col10 .col8 {
    margin-left: 2.40964%;
    width: 79.51807%;
}
.row .col10 .col9 {
    margin-left: 2.40964%;
    width: 89.75904%;
}
.row .col11 { width: 91.5% }
.row .col11 .col1 {
    margin-left: 2.18579%;
    width: 7.10383%;
}
.row .col11 .col2 {
    margin-left: 2.18579%;
    width: 16.39344%;
}
.row .col11 .col3 {
    margin-left: 2.18579%;
    width: 25.68306%;
}
.row .col11 .col4 {
    margin-left: 2.18579%;
    width: 34.97268%;
}
.row .col11 .col5 {
    margin-left: 2.18579%;
    width: 44.2623%;
}
.row .col11 .col6 {
    margin-left: 2.18579%;
    width: 53.55191%;
}
.row .col11 .col7 {
    margin-left: 2.18579%;
    width: 62.84153%;
}
.row .col11 .col8 {
    margin-left: 2.18579%;
    width: 72.13115%;
}
.row .col11 .col9 {
    margin-left: 2.18579%;
    width: 81.42077%;
}
.row .col11 .col10 {
    margin-left: 2.18579%;
    width: 90.71038%;
}
.row .col12 { width: 100% }
.row .col12 .col1 {
    margin-left: 2%;
    width: 6.5%;
}
.row .col12 .col2 {
    margin-left: 2%;
    width: 15%;
}
.row .col12 .col3 {
    margin-left: 2%;
    width: 23.5%;
}
.row .col12 .col4 {
    margin-left: 2%;
    width: 32%;
}
.row .col12 .col5 {
    margin-left: 2%;
    width: 40.5%;
}
.row .col12 .col6 {
    margin-left: 2%;
    width: 49%;
}
.row .col12 .col7 {
    margin-left: 2%;
    width: 57.5%;
}
.row .col12 .col8 {
    margin-left: 2%;
    width: 66%;
}
.row .col12 .col9 {
    margin-left: 2%;
    width: 74.5%;
}
.row .col12 .col10 {
    margin-left: 2%;
    width: 83%;
}
.row .col12 .col11 {
    margin-left: 2%;
    width: 91.5%;
}
.row>:first-child,
.row .row>:first-child { margin-left: 0 }
.row>:last-child,
.row .row>:last-child { margin-right: 0 }
.row:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.lte7 .row { height: 1% }
.wrapper {
    margin: 0 auto;
    max-width: 960px;
}
img { height: auto }
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html { min-height: 100% }
body {
    background: #dcf3ed transparent;
    color: #3b3a32;
    font-family: arial,verdana,tahoma;
    overflow: inherit;
    min-width: 0;
}
body.page_qsettings { min-width: 980px }
.wrapper { padding: 0 10px }
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    line-height: 1.25em;
    margin-bottom: 0.5em;
}
h1 {
    color: #28594e;
    font-size: 2.8em;
    margin-bottom: 1em;
}
h2 {
    color: #28594e;
    font-size: 2em;
}
h3 { font-size: 1.8em }
h4 { font-size: 1.6em }
h5 { font-size: 1.4em }
h6 { font-size: 1.2em }
*+h1,
*+h2,
*+h3 { margin-top: 1.5em }
p,
li {
    font-size: 14px;
    line-height: 1.6em;
}
div.content { margin: 0 auto }
p,
ul,
ol,
table { margin-bottom: 1em }
table {
    text-align: left;
    width: 100%;
}
thead {
    background-color: #28594e;
    color: #ffffff;
}
td,
th {
    font-size: 12px;
    padding: 12px 10px;
    vertical-align: middle;
}
th { font-weight: bold }

.contentbox {
    padding: 20px;
    position: relative;
}
.createquiz input[type=text],
.createquiz input[type=password],
.createquiz input[type=tel],
.createquiz input[type=email],
.createquiz input[type=search],
.createquiz input[type=date],
.createquiz input[type=time],
.createquiz input[type=datetime],
.createquiz input[type=week],
.createquiz input[type=month],
.createquiz input[type=year],
.createquiz textarea,
.createquiz select,
.createquiz .fileinput-button,
.createquiz .sp-replacer {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #ebf3f1;
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 20px;
    width: 100%;
}
.createquiz input[type=number]{
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #ebf3f1;
    font-size: 16px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 10px;
    width: 100%;
}

input[type=text],
input[type=password],
input[type=tel],
input[type=number],
input[type=email],
input[type=search],
input[type=date],
input[type=time],
input[type=datetime],
input[type=week],
input[type=month],
input[type=year],
textarea,
select,
.fileinput-button,
.sp-replacer,
.richtextfield>.mce-container {
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.05);
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.05);
    box-shadow: inset 0 0 2px 0 rgba(0,0,0,0.05);
    background-color: #fff;
    border: 1px solid #9ec5b5;
    font-size: 13px;
    outline: none;
    padding: 8px;
    width: 67%;
}
input[type=text]:hover,
input[type=password]:hover,
input[type=tel]:hover,
input[type=number]:hover,
input[type=email]:hover,
input[type=search]:hover,
input[type=date]:hover,
input[type=time]:hover,
input[type=datetime]:hover,
input[type=week]:hover,
input[type=month]:hover,
input[type=year]:hover,
textarea:hover,
select:hover,
.fileinput-button:hover,
.sp-replacer:hover,
.richtextfield>.mce-container:hover {
    border-color: #b69ec5;
    color: #111111;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=week]:focus,
input[type=month]:focus,
input[type=year]:focus,
textarea:focus,
select:focus,
.fileinput-button:focus,
.sp-replacer:focus,
.richtextfield>.mce-container:focus {
    -moz-box-shadow: 0 0 2px 1px rgba(181,158,197,0.4),inset 0 0 2px 0 rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 0 2px 1px rgba(181,158,197,0.4),inset 0 0 2px 0 rgba(0,0,0,0.05);
    box-shadow: 0 0 2px 1px rgba(181,158,197,0.4),inset 0 0 2px 0 rgba(0,0,0,0.05);
    border-color: #b59ec5;
    color: #000;
}
body::-moz-placeholder {
    color: #597c72;
    font-style: italic;
    font-weight: normal;
}
body::-webkit-input-placeholder {
    color: #597c72;
    font-style: italic;
    font-weight: normal;
}
body input:-ms-input-placeholder {
    color: #597c72;
    font-style: italic;
    font-weight: normal;
}
body textarea:-ms-input-placeholder {
    color: #597c72;
    font-style: italic;
    font-weight: normal;
}
.handwritten {
    font-family: 'Pacifico',cursive;
    font-size: 24px;
}

.activeuser a:hover { text-decoration: underline }
.pageintro {
    margin: 00px 210px 0 0;
    padding: 20px 0 0 0;
    position: relative;
}
.pageintro * { font-size: 17px }
.handwritten.createyourown {
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    color: #164137;
    display: inline-block;
    margin: 30px 0;
    padding: 0 60px 0 0;
    background: url(../images/arrow_creatyourown.png) no-repeat right center;
    line-height: 1em;
    max-width: 375px;
}

.container>h1:first-child { padding-top: 25px }


.col8 h1 { margin: 20px 0 0 0 }
h3 {
    color: #28594e;
    font-size: 22px;
    margin: 0 0 0.3em 0;
}
.button,
input[type=submit],
.button-column a {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #0088cc;
    border: none;
    color: #ffffff;
    display: inline-block;
    float: none;
    font-size: 26px;
    font-weight: bold;
    line-height: 39px;
    outline: none;
    padding: 6px 40px 6px 40px;
    text-shadow: none;
    margin: 20px 0 0 0;
    width: auto;
    white-space: nowrap;
}



.button.liftoff:hover,
input[type=submit].liftoff:hover,
.button-column a.liftoff:hover { background-position: 28px -9px }
.button.prev,
input[type=submit].prev,
.button-column a.prev { float: left }



.button {
    font-size: 12px;
    width: 16%;
}


thead {
    background-color: #e7f5f1;
    color: #031611;
}
tbody tr { background-color: #f2f9f7 }
tbody tr:nth-child(odd) { background-color: rgba(255,255,255,0.5) }


select { padding: 10px 10px }
input[type=number] { width: auto }


a,
.readmore a {
    color: #fff;
    text-decoration: none;
}
a:hover,
.readmore a:hover { text-decoration: underline }
.qtype {
    border: 1px solid rgba(158,197,181,0.3);
    background-color: #f5f9f8;
    background-position: center bottom;
    background-repeat: no-repeat;
    display: block;
    padding: 20px 20px 100px 20px;
    position: relative;
    min-height: 280px;
    text-align: center;
}
.qtype p,
.qtype li {
    color: #597C72;
    font-size: 14px;
    line-height: 1.3em;
    text-align: center;
}
.qtype p:last-child,
.qtype li:last-child { margin-bottom: 0 }
.qtype .button {
    font-size: 14px;
    padding: 6px 12px;
    line-height: 22px;
    position: absolute;
    bottom: 102px;
    left: 50%;
    margin: 0 0 0 -80px;
    width: 160px;
}
.qtype:hover { text-decoration: none }
.col3.qtype { padding-bottom: 120px }


.page_home .intro,
.page_create h1 {
    padding: 50px 0;
    color: #164137;
    text-shadow: 0px 3px 0px #e8f6f2;
    margin: 0;
    text-align: center;
}
.page_home .intro * {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 2px;
}
.page_home .intro span {
    display: block;
    font-size: 46px;
}
.page_create h1 {
    font-size: 30px;
    padding: 0 0 25px 0;
}
.createquiz {
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(46,75,45,0.15),0px 100px 120px -50px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(46,75,45,0.15),0px 100px 120px -50px rgba(0,0,0,0.2);
    box-shadow: inset 0px 0px 0px 1px rgba(46,75,45,0.15),0px 100px 120px -50px rgba(0,0,0,0.2);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-color: #fff;
    border: 10px solid #eff7f5;
    position: relative;
    margin: 0 0 100px 0;
}
.createquiz h2 {
    color: #25292c;
    margin: 0 0 0.5em 0;
    text-align: center;
    font-size: 2.6em;
    text-transform: none;
}

.page_home .bgwrap {
    background: #fff;
}


.contentbox.createquiz 
{ 
	padding: 20px;
	height: auto; 
}
.customer {
    padding: 30px 0;
    margin: 0;
}
.customer img { margin: 20px 0 }
.customer ul {
    border: none;
    clear: none;
    padding: 0;
    margin: 0;
}




input[disabled=disabled],
textarea[disabled=disabled],
select[disabled=disabled] {
    opacity: 0.5;
}

input:enabled, {
    opacity: 1;
}


/*Agregando*/
/*Estilos de perstanhas */
/* ****************************************** */
ul {
    width: 100%;
    list-style: none;
    padding:0px;
    margin: 0;
    display: inline;
    float: left;
    /*Propiedades nuevaaaaaaaaas*/
    border-bottom: 1px;
    margin-left: 9px;
}
ul li {
	width: 14%;
	display: table;
	float: left;
	margin: 1px;
	padding: 1px;
	text-align: center;
	position: relative;
	top: 1px;
}
ul li a {
    height: 40px;
    color: white;
    font: Arial bold;
    font-size: 16px;
    border: 2px solid #FFF;
    background: #0088cc;
    display: table-cell;
	vertical-align: middle;
    text-decoration: none;
    /*Propiedades nuevaaaaaaaaas*/
    border-radius: 8px;
    
}
/* CLASE NUEVAAAAAAAAAAAAAAAAA */
ul li a:hover {
    border: 2px inset #0088aa;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
}
/*Aplicar a pestaña actual*/
a.actual {
    height: 40px;
    color: white;
    font-family: Arial;
    font-size: 16px;
    border: 2px solid #0088cc;
    background: #0088cc;
    border: 2px inset #0088cc;
    display: table-cell;
	vertical-align: middle;
    text-decoration: none;
    /*Propiedades nuevaaaaaaaaas*/
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
}
/* CLASE NUEVAAAAAAAAAAAAAAAAA */

.imagen {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    overflow: hidden;
    float: left;
}
/*# sourceMappingURL=styles.css.map */
